// Colors
$color-main: #dc3651;
$color-default: #0d233e;
$color-body: #0d233e;
$color-headings: #0d233e;
$color-darkblueish: #21273f;
$color-altblue: #28384c;
$color-blueish: #1b3b62;
$color-lightblue: #547bad;
$color-grey: #a2a6ac;
$color-darkgrey: darken(#f8f9fa, 10%);
$color-darkergrey: darken(#f8f9fa, 20%);
$color-darkestgrey: darken(#f8f9fa, 30%);
$color-sherpablue: #01212d;

// Font settings
$font-base: 'Eina', 'Helvetica Neue', Helvetica, sans-serif;
$font-headings: 'Eina', 'Helvetica Neue', Helvetica, sans-serif;
$font-monospace: 'Menlo', 'Courier', monospace;

// Font sizes and line heights
$font-min-size: 18px; // Minimum font size, on mobile
$font-max-size: 22px; // Maximum font size, on desktop
$font-base-line-height: 1.55; // Line height for paragraphs
$headings-weight: 800; // Default title weight. Usually 700 or 900 works pretty well

// Breakpoints
$grid-base: 1000px;
$container-tv: 1824px;
$container-large: 1224px;
$container-desktop: 960px;
$container-ipad: 768px;
$container-mobile: 480px;
